<div id="contact-us" class="right-block">
	<div id="contact" name="contact"></div>
	<h3>Contact Us</h3>
	<div id="success-form" class="alert alert-success hide">
		<p>Thank you for contacting us.<br />Someone will respond to your email promptly.</p>
	</div>
	<div id="contact-form">
		{exp:freeform:form form_id="1" form:id="ajax_form" required="first_name|last_name|email_address|user_message" ajax="yes" return="#contact-us" }
			<input type="text" name="first_name" id="first_name" placeholder="First Name" />
			<input type="text" name="last_name" id="last_name" placeholder="Last Name" />
			<input type="text" name="email_address" id="email_address" placeholder="Email" />
				<input type="text" name="email_confirm" id="honeepot" class="screen-reader" />
			<input type="text" name="phone_number" id="phone_number" placeholder="Phone Number" />
			<textarea name="user_message" id="user_message" placeholder="Message"></textarea>
			<input type="submit" id="submit" value="SUBMIT MESSAGE" />
		{/exp:freeform:form} 
	</div>
	{if "{exp:server_vars key="SERVER_NAME"}" == "www.wis.brandon" || "{exp:server_vars key="SERVER_NAME"}" == "abouthth.awcbits.com" || "{exp:server_vars key="SERVER_NAME"}" == "about.hthworldwide.com" }
		{embed="page_copy/hth_legal_copy"}
	{if:else}
		{embed="page_copy/geoblue_legal_copy"}
	{/if}
	
	
</div>