<div id="header-banner">
	<div class="content-container">
		{exp:channel:entries channel="header_banner" url_title="header-banner-text-geoblue"}
			<p>{header_banner_text}</p>
		{/exp:channel:entries}
	</div>
</div>