<div id="hero-block">
	<div class="content-container">
		{exp:channel:entries channel="hero_block" url_title="hero-block-geoblue"}
			<div class="left-block">
				<header>				
					<p>{left_block_header}</p>
				</header>
				<div class="copy">
					{if left_block_subheader}
						<p class="subheader">{left_block_subheader}</p>
					{/if}
					{left_block_copy}
				</div>
			</div>
			
			<div class="right-block">
				<header>
					<p>{right_block_header}</p>
				</header>
				<div class="copy">
					{right_block_subheader}
						
					<p>{right_block_copy}</p>
				</div>
			</div>
		{/exp:channel:entries}
	</div>
</div>