<div id="more-info">
	<div class="content-container">
		{exp:channel:entries channel="more_information"}
			<h3>{more_info_header}</h3>
			<p>{more_info_copy}</p>
		{/exp:channel:entries}
		<ul>
			<li>
				<a href="https://geo-blue.com/" target="_blank" alt="Employer Group Health Plans">Employer Group<br />Health Plans</a>
			</li>
			<li>
				<a href="https://geobluetravelinsurance.com/" target="_blank" alt="Individual Travel Insurance Plans">Individual Travel<br />Insurance Plans</a>
			</li>												  
			<li>												  
				<a href="https://www.geobluetravelinsurance.com/products/longterm/navigator-stud-overview.cfm" target="_blank" alt="International Student Group Plans">International Student<br />Group Plans</a>
			</li>												  
			<li>												  
				<a href="https://geo-blue.com/mobile-app.cfm" target="_blank" alt="GeoBlue&reg; Mobile App" class="last">GeoBlue&reg;<br />Mobile App</a>
			</li>
		</ul>
	</div>
</div>