<div id="legal" class="">
	<p>
		GeoBlue Travel Insurance<br />
		One Radnor Corporate Center, Suite 100<br />
		Radnor, PA 19087 USA<br />
		<a href="mailto:customerservice@geo-blue.com">customerservice@geo-blue.com</a><br />
		<a href="http://geobluetravelinsurance.com" target="_blank">geobluetravelinsurance.com</a>
	</p>
	<p class="smaller-legal">&copy; 2014 GeoBlue. All Rights Reserved.</p>
	<p class="smaller-legal">
		GeoBlue is a trade name of Worldwide Insurance Services, LLC,<br/>
		an independent license of the Blue Cross Blue Shield Association.
	</p>
</div>