<div id="mgmt-team">
	<div class="content-container">
	
		<h3>Meet Our Management Team</h3>
		
		<div id="team-member" data-column="1" data-row="1">
			<div id="headshot">
				<img src="/public/img/headshots/pete.png" />
			</div>
			
			<div id="title" class="hide title" style="position:relative;">
				<a id="show-bio"><img src="/public/img/geoblue-show-bio-plus.png" /></a>
				<h4>Peter<br />Bohn, Ph.D</h4>
				<p>Director,<br />Underwriting</p>
			</div>
			
			<div id="bio" class="hide">
				<a id="hide-bio"><img src="/public/img/geoblue-hide-bio-x.png" /></a>
				<h4>Peter<br />Bohn, Ph.D</h4>
				<p class="title">Director, Underwriting</p>
				<div class="bio-text">
					<p class="bio">Peter Bohn, Ph. D., serves as head of Underwriting. Pete is responsible for all product and individual underwriting on WIS’s risk bearing products. Pete has been a part of WIS since its inception directing its technology development and subsequently serving as business analyst. Prior to joining WIS, Pete was a researcher and teacher at The Pennsylvania State University working in the area of technology development.</p>
				</div>
			</div>
			<div class="ghost">&nbsp;</div>
		</div>
		
			
		<div id="team-member" data-column="2" data-row="1">
			<div id="headshot">
				<img src="/public/img/headshots/elaine.jpg" />
			</div>
			
			<div id="title" class="hide title">
				<a id="show-bio"><img src="/public/img/geoblue-show-bio-plus.png" /></a>
				<h4>Elaine<br />Del Rossi</h4>
				<p>Director,<br />Student Sales Team</p>
			</div>
			
			<div id="bio" class="hide">
				<a id="hide-bio"><img src="/public/img/geoblue-hide-bio-x.png" /></a>
				<h4>Elaine<br />Del Rossi</h4>
				<p class="title">Director, Student Sales Team</p>
				<div class="bio-text">
					<p class="bio">Elaine Del Rossi leads the Student Sales team. Elaine has spearheaded the solid growth in WIS’s core international student health insurance business.</p>
					<p class="bio">She brings extensive healthcare, insurance, and e-commerce experience to the company. Prior to joining the company in 2000, Elaine was Senior Vice President, eDistribution for HealthAxis, Inc. responsible for marketing and sales development Before joining HealthAxis, Elaine was the Principal of Health Options, a company founded to assist healthcare clients with a broad range of marketing and planning activities.</p>
					<p class="bio">Elaine also served as Senior Vice President/Chief Marketing Officer for Healthcare Management Alternatives (AmeriChoice), a national managed care organization where she was responsible for marketing and sales of the $180 million business unit.</p>
					<p class="bio">Elaine also spent eleven years as a senior executive with, with Independence Blue Cross and as a senior executive at Horizon Blue Cross and Blue Shield where she was responsible for their Small Group Division. A graduate of Ursinus College, she has an M.S. degree from the University of Pennsylvania where she was a Fellow in Applied Research.</p>
				</div>
			</div>
			<div class="ghost">&nbsp;</div>
		</div>

		<div id="team-member" data-column="3" data-row="1">
			<div id="headshot">
				<img src="/public/img/headshots/liz.jpg" />
			</div>
			
			<div id="title" class="hide title">
				<a id="show-bio"><img src="/public/img/geoblue-show-bio-plus.png" /></a>
				<h4>Liz<br />Dunlavey</h4>
				<p>Managing Director,<br />WIS Insurance Operations</p>
			</div>
			
			<div id="bio" class="hide">
				<a id="hide-bio"><img src="/public/img/geoblue-hide-bio-x.png" /></a>
				<h4>Liz<br />Dunlavey</h4>
				<p class="title">Managing Director, WIS Insurance Operations</p>
				<div class="bio-text">
					<p class="bio">Liz Dunlavey is Managing Director for WIS Insurance Operations and has worked in healthcare insurance delivery 29 years. Prior to joining the company, Liz worked for Independence Blue Cross in a variety of senior leadership positions during a period of significant growth and change for the organization. Her roles included Vice President of Enrollment Services and Back Office Operations, Vice President of Shared Services and Vice President of Corporate Strategy and Planning. Liz started her career with CIGNA Healthcare in their management training program and held several leadership positions running various Operations Service Centers, US/ European Operations and Field Sales Account Management roles. Liz holds a B.A from The Catholic University of America and is a Certified Employee Benefits Specialist (CEBS).</p>
				</div>
			</div>
			<div class="ghost">&nbsp;</div>
		</div>
	
		<div id="team-member" data-column="4" data-row="1">
			<div id="headshot">
				<img src="/public/img/headshots/rob.jpg" />
			</div>
			
			<div id="title" class="hide title">
				<a id="show-bio"><img src="/public/img/geoblue-show-bio-plus.png" /></a>
				<h4>Rob<br />Howard</h4>
				<p>Director,<br />Employer Group Sales</p>
			</div>
			
			<div id="bio" class="hide">
				<a id="hide-bio"><img src="/public/img/geoblue-hide-bio-x.png" /></a>
				<h4>Rob<br />Howard</h4>
				<p class="title">Director, Employer Group Sales</p>
				<div class="bio-text">
					<p class="bio">Rob Howard serves as head of Employer Group Sales. Rob has been instrumental in developing and managing the employer group sales initiative. He also played a lead role in product management to help launch group products and to manage licensees of  Global Health and Safety Services. Prior to joining the company, Rob was the Sales Leader for the Northeast United States and Canada for Namico Specialty Chemical. Rob earned a Bachelor of Arts degree from Bowdoin College and attended the School of Economics and Political Science at Trinity College, in Dublin Ireland.</p>
				</div>
			</div>
			<div class="ghost">&nbsp;</div>
		</div>
		
		<div id="team-member" data-column="1" data-row="2">
			<div id="headshot">
				<img src="/public/img/headshots/kathy.jpg" />
			</div>
			
			<div id="title" class="hide title">
				<a id="show-bio"><img src="/public/img/geoblue-show-bio-plus.png" /></a>
				<h4>Kathy<br />Luisi</h4>
				<p>Director,<br />International Operation Services</p>
			</div>
			
			<div id="bio" class="hide">
				<a id="hide-bio"><img src="/public/img/geoblue-hide-bio-x.png" /></a>
				<h4>Kathy<br />Luisi</h4>
				<p class="title">Director, International Operation Services</p>
				<div class="bio-text">
					<p class="bio">Kathy Luisi serves as Director, International Operation Services. Kathy has over 20 years’ experience in the health care industry working in a variety of areas, Medicare Government Business, Disability, Life and Financial benefits.</p>
					<p class="bio">Kathy has an in-depth knowledge in Health Care Management and Business Development which affords her the ability to direct the internal operations areas which includes customer services, claims, incoming mail, enrollment and fulfillment. She has worked within several of the Blues organizations and serves the role as the company’s  Blue Card Executive for the Blue Cross Blue Shield Association. In this capacity she has been intimately involved in the launch of both our corporate and individual Blue products.</p>
					<p class="bio">Kathy is fluent in Spanish and holds a Bachelor of Science in Business Administration from Shippensburg University. She also attended the Heath Care Executive education program at University of Pennsylvania in Philadelphia, PA.</p>
				</div>
			</div>
			<div class="ghost">&nbsp;</div>
		</div>
		
		<div id="team-member" data-column="2" data-row="2">
			<div id="headshot">
				<img src="/public/img/headshots/mike-munroe.jpg" />
			</div>
			
			<div id="title" class="hide title">
				<a id="show-bio"><img src="/public/img/geoblue-show-bio-plus.png" /></a>
				<h4>Mike Munroe</h4>
				<p>Director,<br />Account Management</p>
			</div>
			
			<div id="bio" class="hide">
				<a id="hide-bio"><img src="/public/img/geoblue-hide-bio-x.png" /></a>
				<h4>Mike Munroe</h4>
				<p class="title">Director, Account Management</p>
				<div class="bio-text">
					<p class="bio">Mike Munroe leads the account management team which has responsibility for growing and retaining our group corporate and educational institution business. Mike joined the team in 2014 with a clear focus on ensuring that all clients receive unrivaled customer services. Prior to joining the company. Mike spent 13 years in sales and account management for a technology consulting firm and eight years as a property and casualty underwriter. Mike holds a Bachelor of Arts degree in Communications from the University of Pennsylvania and an MBA from The Marshall School of Business at the University of Southern California.</p>
				</div>
			</div>
			<div class="ghost">&nbsp;</div>
		</div>
		
		<div id="team-member" data-column="3" data-row="2">
			<div id="headshot">
				<img src="/public/img/headshots/john.jpg" />
			</div>
			
			<div id="title" class="hide title">
				<a id="show-bio"><img src="/public/img/geoblue-show-bio-plus.png" /></a>
				<h4>John<br />Shanley</h4>
				<p>Director,<br />Administrative Services</p>
			</div>
			
			<div id="bio" class="hide">
				<a id="hide-bio"><img src="/public/img/geoblue-hide-bio-x.png" /></a>
				<h4>John<br />Shanley</h4>
				<p class="title">Director, Administrative Services</p>
				<div class="bio-text">
					<p class="bio">John Shanley serves as the Director of Administrative Services.  John is responsible for managing the claims, enrollment, fulfillment and insurance document areas for WIS, as well as overseeing several business partner relationships. John brings an extensive operational background and international payment and assistance services background. Prior to joining the company in 2000, he served as President and COO of Worldwide Assistance Service, the US arm of Europe Assistance.  John has also served as the Director of Operations at Air Travel Card and was a Vice President at First American Bank in Washington, D.C.</p>
				</div>
			</div>
			<div class="ghost">&nbsp;</div>
		</div>
		
		<div id="team-member" data-column="4" data-row="2">
			<div id="headshot">
				<img src="/public/img/headshots/brendan.jpg" />
			</div>
			
			<div id="title" class="hide title">
				<a id="show-bio"><img src="/public/img/geoblue-show-bio-plus.png" /></a>
				<h4>Brendan<br />Sharkey</h4>
				<p>Director,<br />Individual Sales</p>
				<div class="ghost">&nbsp;</div>
			</div>
			
			<div id="bio" class="hide">
				<a id="hide-bio"><img src="/public/img/geoblue-hide-bio-x.png" /></a>
				<h4>Brendan<br />Sharkey</h4>
				<p class="title">Director, Individual Sales</p>
				<div class="bio-text">
					<p class="bio">Brendan Sharkey serves as head of Individual Sales. Brendan has a wealth of sales and business development experience working in a variety of industries, across a number of continents. Brendan's track record includes advertising sales for Dun and Bradstreet as well as marketing to commercial clients, agents, and general agents for two major health plans in the mid-Atlantic. He has developed a great number of partnerships in the online travel, benefit platform, and search engine arena, including Yahoo! and Frommers. An experienced expatriate, Brendan has lived in Scotland, Canada and Australia, and holds a Bachelor of Commerce degree in marketing from Griffith University in Australia.</p>
				</div>
			</div>
			<div class="ghost">&nbsp;</div>
		</div>
		
	</div>
</div>