<div id="press-release" class="left-block">
	<h3>Press Releases</h3>
	<table width="380px;" cellpadding="0" cellspacing="0">
	{exp:channel:entries channel="press_releases" search:press_release_type="GeoBlue|Both" limit="15"}
		<tr class="border-bottom">
			<td style="vertical-align:text-top;"><img src="/public/img/geoblue-bullet-points.png"/></td>
			<td style="vertical-align:text-top;"><span class="date" >{entry_date format="%m.%d.%y"}</span></td>
			<td style="vertical-align:text-top;"><a href="{press_release_upload}" target="_blank">{title}</a></td>
		</tr>
	{/exp:channel:entries}	
	</table>
</div>