<div id="quote">
	<div class="content-container">
		{exp:channel:entries channel="quote" url_title="quote-hth"}
			<blockquote>{quote}</blockquote>
			<p>- {said_by}</p>
		{/exp:channel:entries}
	</div>
	<div class="quote-box-extention"></div>
</div>