<div id="more-info">
	<div class="content-container">
		{exp:channel:entries channel="more_information"}
			<h3>{more_info_header}</h3>
			<p>{more_info_copy}</p>
		{/exp:channel:entries}
		<ul>
			<li>
				<a href="https://www.hthbusiness.com/" target="_blank" alt="Employer Group Health Plans">Employer Group<br />Health Plans</a>
			</li>
			<li>
				<a href="https://hthtravelinsurance.com/" target="_blank" alt="Individual Travel Insurance Plans">Individual Travel<br />Insurance Plans</a>
			</li>												  
			<li>												  
				<a href="https://www.hthstudents.com/" target="_blank" alt="International Student Group Plans">International Student<br />Group Plans</a>
			</li>												  
			<li>												  
				<a href="https://www.hthstudents.com/mobileapp/index.htm" target="_blank" alt="GeoBlue&reg; Mobile App" class="last">HTH Worldwide<br />Mobile App</a>
			</li>
		</ul>
	</div>
</div>