
		<header class="geoblue-header">
			<div class="content-container">
				<nav id="main-nav">
					<ul class="contact">
						<li><span class="label">call toll free:</span> {geoblue-toll-free-phone-number}</li>
						<li><span class="label">outside U.S.:</span> {geoblue-outside-us-phone-number}</li>
					</ul>
					<ul class="links">
						<li>
							<a href="https://www.geobluetravelinsurance.com/agent_landing.cfm" target="_blank" alt="Travel Alerts">Agents</a>
						</li>
						<li>
							<a href="https://www.geobluetravelinsurance.com/contact.cfm" target="_blank" alt="Healthy Travel">Contact Us</a>
						</li>
						<li class="last">
							<a href="https://www.geobluetravelinsurance.com/login/login.cfm" alt="Contact Us">Member Login</a>
						</li>
					</ul>
				</nav>

				<div id="logo">
					<a href="https://geo-blue.com/" alt="GeoBlue Travel Insurance">
						<img src="/public/img/geoblue-travel-insurance-logo.png" title="GeoBlue Travel Insurance" />
					</a>
				</div>
			</div>
		</header>