
		<header class="hth-header">
			<div class="content-container">
				<div id="logo">
					<a href="#" alt="HTH Travel Insurance">
						<img src="/public/img/hth-travel-insurance-logo.png" title="HTH Travel Insurance" />
					</a>
				</div>
				<nav id="main-nav">
					<ul>
						<li>
							<a href="https://www.hthtravelinsurance.com/health_sec_news/article_top20.cfm" target="_blank" alt="Travel Alerts">Travel Alerts</a>
						</li>
						<li>
							<a href="https://www.hthtravelinsurance.com/travel_center/main_gen.cfm" target="_blank" alt="Healthy Travel">Healthy Travel</a>
						</li>
						<li class="last">
							<a href="https://www.hthtravelinsurance.com/contact.cfm" alt="Contact Us">Contact Us</a>
						</li>
					</ul>
					<br />
					<ul class="contact">
						<li><span class="label">Toll Free:</span> {hth-toll-free-phone-number}</li>
						<li><span class="label">Outside U.S.:</span> {hth-outside-us-phone-number}</li>
					</ul>
				</nav>
			</div>
		</header>