		<footer id="" class="">
			<div class="left-half">
				{if "{exp:server_vars key="SERVER_NAME"}" == "www.wis.brandon" || "{exp:server_vars key="SERVER_NAME"}" == "abouthth.awcbits.com" || "{exp:server_vars key="SERVER_NAME"}" == "about.hthworldwide.com" }
					{embed="page_copy/hth_press_releases"}
				{if:else}
					{embed="page_copy/geoblue_press_releases"}
				{/if}
			</div>
			<div class="right-half">
				{embed="page_copy/contact_us"}
			</div>
		</footer>
		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script> -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="/public/js/jquery.contenthover.js"></script>
		<!-- <script src="/public/js/jquery.hoverIntent.min.js"></script> -->
		<script src="/public/js/pointer_events_polyfill.js"></script>
		<script src="/public/js/scripts.js" type="text/javascript"></script>
	</body>
</html>