/* Project Name: WIS About Page
** Author(s): Brandon G. Morse
** Date: Q2 2014
*/

/*
////// HTH Values //////
$hth-dark-blue: '#00266e';
$hth-light-blue: '#0a73cd';
$hth-grey: '#a2a2a2';
$yellow: '#ffcd00';
*/

body { margin: 0px; padding: 0px; }

img, a img { border: none; }

.hide { display: none; }
.show { display: block; }

.ghost { position:absolute; top:0px; bottom:-725px; left:0px; right:0px; display:none; background: url('/public/img/wis-transparent.png'); z-index: 175; }

.alert { padding: 15px; margin-bottom: 20px; border: 1px solid transparent;	border-radius: 4px; width: 350px; }
.alert-success { background-color: #dff0d8; border-color: #d6e9c6; color: #3c763d; }
.error_message { background-color: rgba(255, 0, 0, 0.22) !important; box-shadow: 0 0px 3px rgba(255, 0, 0, 0.32) inset !important; -moz-box-shadow: 0 0px 3px rgba(255, 0, 0, 0.32) inset !important; -webkit-box-shadow: 0 0px 3px rgba(255, 0, 0, 0.32) inset !important; -o-box-shadow: 0 0px 3px rgba(255, 0, 0, 0.32) inset !important; }

.screen-reader { display: block !important; left: -9999px !important; position: absolute !important; }

.content-container {  margin: 0 auto; width: 965px; }

.hth-header { height: 90px; }
.hth-header .content-container #logo { float: left; padding: 31px 0px; }
.hth-header .content-container #logo img { height: 27px; width: 224px; }
.hth-header .content-container #main-nav { float: right; padding: 20px 0px; font-family: Verdana, Arial, sans-serif; font-size: 12px; }
.hth-header .content-container #main-nav ul { display:inline; float: right; list-style: none; margin: 0px 35px 10px 0px; text-align: right; }
.hth-header .content-container #main-nav ul li { float:left; padding-right: 10px; margin-right: 10px; border-right: 1px solid #0a73cd; }
.hth-header .content-container #main-nav ul li.last { padding-right: 0px; margin-right: 0px; border-right: none; }
.hth-header .content-container #main-nav ul li a { color: #00266e; text-decoration: none; }
.hth-header .content-container #main-nav ul li a:hover { color: #ffcd00; }
.hth-header .content-container #main-nav ul.contact { clear: both; display:inline; list-style: none; margin: 0px auto; text-align: right; }
.hth-header .content-container #main-nav ul.contact li { border: none; color: #00266e; float:left; font-weight: 600; margin-right: 10px; padding-right: 10px; }
.hth-header .content-container #main-nav ul.contact li.last { padding-right: 0px; margin-right: 0px; }
.hth-header .content-container #main-nav ul.contact li span.label { color: #0a73cd; font-weight: 400; }


#header-banner { background-color: #00266e; clear: both; }
#header-banner .content-container p { color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 300; height: 45px; line-height: 26px; padding: 45px 40px; }


#hero-block { background: url('/public/img/cityscape.jpg') -1200px -800px no-repeat; clear: both; margin-top: -20px; min-height: 913px; width: 100%; }
#hero-block .content-container .left-block { background: url('/public/img/hth-dark-blue-alpha.png') left top repeat; float: left; margin-top: 90px; width:482px; }
#hero-block .content-container .left-block header { height: 62px; padding: 15px 40px 60px 30px; }
#hero-block .content-container .left-block header p { color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 300; line-height: 24px; }
#hero-block .content-container .left-block .copy { background: url('/public/img/wis-white-alpha.png') left top repeat; margin-left: 8px; padding: 17px 40px 34px 32px; }
#hero-block .content-container .left-block .copy p.subheader { border-bottom: 1px solid #cccccc; color: #000000; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 400; line-height: 24px; padding-bottom: 32px; }
#hero-block .content-container .left-block .copy p.subheader .important { color: #00266e; font-weight: 700; }
#hero-block .content-container .left-block .copy p { color: #717f80; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; line-height: 22px; }

#hero-block .content-container .right-block { background: url('/public/img/hth-light-blue-alpha.png') left top repeat; float: left; margin-top: 310px; width:482px; }
#hero-block .content-container .right-block header { height: 62px; padding: 15px 40px 15px 30px; }
#hero-block .content-container .right-block header p { color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 300; line-height: 20px; }
#hero-block .content-container .right-block header p a { color: #ffffff; font-weight: 400; text-decoration: underline; }
#hero-block .content-container .right-block header p a:hover { color: #ffcd00; }
#hero-block .content-container .right-block .copy { background: url('/public/img/wis-white-alpha.png') left top repeat; margin-left: 8px; padding: 0px 40px 34px 32px;  }
#hero-block .content-container .right-block .copy p.subheader { color: #000000; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 400; line-height: 24px; }
#hero-block .content-container .right-block .copy a { color: #00266e; font-weight: 700; text-decoration: none; }
#hero-block .content-container .right-block .copy a:hover { color: #ffcd00; }
#hero-block .content-container .right-block .copy ul.subheader-list { border-bottom: 1px solid #cccccc; color: #717f80; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; line-height: 22px; list-style-image: url('/public/img/hth-bullet-points.png'); padding-bottom: 32px; }
#hero-block .content-container .right-block .copy ul.subheader-list li { color: #717f80; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; line-height: 22px; margin-bottom: 23px; }
#hero-block .content-container .right-block .copy ul.subheader-list li.last { margin-bottom: 0px; }
#hero-block .content-container .right-block .copy p { color: #717f80; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; line-height: 22px; padding-top: 20px; }


#more-info { background-color: #0a73cd; clear: both; height: 250px; margin-top: -35px; }
#more-info .content-container h3 { color: #ffffff; font-family: 'Open Sans Condensed', sans-serif; font-size: 35px; font-weight: 300; line-height: 32px; padding: 53px 0px 0px 0px; text-align: center; }
#more-info .content-container p { color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 300; line-height: 26px; margin: -20px 0px 20px 0px; padding: 0px; text-align: center;}
#more-info .content-container p a:link,#more-info .content-container p a:active,#more-info .content-container p a:visited { color: #fff; }
#more-info .content-container p a:hover { color: #ffcd00; }
#more-info .content-container ul { display:inline; list-style: none; margin: 0px auto; }
#more-info .content-container ul li { background: #ffcd00 url('/public/img/hth-btn-arrow.png') right bottom no-repeat; border: 2px solid #ffffff; float: left; height: 27px; margin-right: 5px; padding: 9px 6px 22px 6px; text-align: center; width: 210px; }
#more-info .content-container ul li.last { clear: both; height: 210px; margin-right: 0px; padding: 18px 6px 9px 6px; }
#more-info .content-container ul li a { color: #00266e; font-family: 'Open Sans Condensed', sans-serif; font-size: 16px; font-weight: 700; text-transform:uppercase; line-height: 17px; text-decoration: none; vertical-align: middle; }
#more-info .content-container ul li:hover, #more-info .content-container ul li:hover a, #more-info .content-container ul li a:hover { background-color: #00266e; color: #ffffff; cursor: pointer; }


#mgmt-team { background-color: #f3f4f4; clear: both; height: 845px; margin-top: -50px; }
#mgmt-team .content-container { position: relative; }
#mgmt-team .content-container h3 { color: #000000; font-family: 'Open Sans Condensed', sans-serif; font-size: 50px; font-weight: 300; line-height: 24px; padding: 78px 0px 0px 0px; text-align: center; }

#mgmt-team .content-container #team-member { float: left; width: 240px; }
#mgmt-team .content-container #team-member #headshot { background-color: #0a73cd; float: left; height: 288px; width: 242px; }
#mgmt-team .content-container #team-member #title { background: #0a73cd; cursor: pointer; float: left; height: 238px; padding: 20px 20px 30px 40px; position: relative; width: 181px; }
#mgmt-team .content-container #team-member #title h4 { color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 32px; font-weight: 300; line-height: 35px; margin: 100px 0px 10px 0px; padding: 0px; }
#mgmt-team .content-container #team-member #title p { color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; line-height: 22px; margin: 0px; padding: 0px; }
#mgmt-team .content-container #team-member #title #show-bio { cursor: pointer; position: absolute; top:20px; right:20px; }
#mgmt-team .content-container #team-member #bio { background: #ffffff; /* border-top: 2px solid #00266e; */ overflow: hidden; padding: 22px 20px 35px 40px; position: absolute; z-index: 200; }
#mgmt-team .content-container #team-member #bio #hide-bio { cursor: pointer; position: absolute; top:20px; right:20px; }
#mgmt-team .content-container #team-member #bio h4 { color: #000000; font-family: 'Open Sans', sans-serif; font-size: 32px; font-weight: 300; line-height: 35px; margin: 0px; padding: 0px;}
#mgmt-team .content-container #team-member #bio .bio-text { height: 385px; overflow-y: auto; overflow-x: hidden; padding-right: 10px; }
#mgmt-team .content-container #team-member #bio .title { color: #00266e; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; line-height: 22px; }
#mgmt-team .content-container #team-member #bio .bio { color: #717f81; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 400; line-height: 22px; margin-bottom: 30px; }


#quote { background: url('/public/img/hth-gondalas.jpg') right -150px no-repeat; clear: both; margin-top: -18px; min-height: 475px; padding-top: 160px; width: 100%; }
#quote .content-container blockquote { color: #000000; font-family: 'Open Sans Condensed', sans-serif; font-size: 40px; font-weight: 300; line-height: 42px; margin: 0px 0px 0px 80px; padding: 30px 0px 30px 80px; }
#quote .content-container p { /* color: #ffffff; */ color: #000000; font-family: 'Open Sans Condensed', sans-serif; font-size: 22px; font-weight: 300; line-height: 45px; /* margin: 10px 0px 0px 0px; padding: 0px 0px 0px 680px; */margin: -40px 0px 0px 0px; padding: 0px 0px 0px 600px; }


#press-release.left-block { float: right; height: 100%; width:482px; }
#press-release.left-block h3 { color: #000000; font-family: 'Open Sans Condensed', sans-serif; font-size: 50px; font-weight: 300; line-height: 24px; padding: 0px 0px 0px 30px; text-align: left; }
#press-release.left-block table tr td img { margin:0px 10px 0px 5px; }
#press-release.left-block table tr.border-bottom td { border-bottom: 1px solid #cccccc; padding: 5px 0px; }
#press-release.left-block table tr td .date { color: #717f81; font-family: 'Open Sans Condensed', sans-serif; font-size: 20px; font-weight: 300; line-height: 32px; margin-right: 15px; }
#press-release.left-block table tr td a { color: #00266e;  font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 700; line-height: 20px; text-decoration: none; }
#press-release.left-block table tr td a:hover { color: #ffcd00; }


#contact-us.right-block { background-color: #a2a2a2; float: left; height: 100%; padding-left: 80px; width:402px; }
#contact-us.right-block h3 { color: #ffffff; font-family: 'Open Sans Condensed', sans-serif; font-size: 50px; font-weight: 300; line-height: 24px; padding: 0px 0px 0px 0px; text-align: left; }
#contact-us.right-block input[type="text"] { color: #444c4d; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 300; line-height: 24px; height: 30px; margin-bottom: 18px; padding-left: 20px; width: 360px; }
#contact-us.right-block textarea { color: #444c4d; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 300; line-height: 24px; height: 135px; margin-bottom: 18px; padding-left: 20px; resize: none; width: 360px; }
#contact-us.right-block input[type="submit"] { background: #ffcd00 url('/public/img/hth-btn-arrow.png') right bottom no-repeat; border: 2px solid #ffffff; color: #00266e; cursor: pointer; float: right; font-family: 'Open Sans Condensed', sans-serif; font-weight: 700; font-size: 16px; line-height: 17px; height: 47px; margin: 0px 20px 50px 0px; padding: 9px 6px 9px 6px; text-align: center; width: 210px; }
#contact-us.right-block input[type="submit"]:hover { background-color: #00266e; color: #ffffff; }


#contact-us.right-block #legal { border-top: 1px solid #ffffff; clear: both; color: #ffffff; font-family: 'Open Sans', sans-serif; font-size: 14px; font-weight: 300; line-height: 20px; margin-right: 35px; margin-bottom: 190px; }
#contact-us.right-block #legal a:link, #contact-us.right-block #legal a:active, #contact-us.right-block #legal a:visited { color: #ffffff; }
#contact-us.right-block #legal a:hover { color: #ffcd00; }

#contact-us.right-block #legal .smaller-legal{ font-size: 12px; }

footer { margin-top: -160px; }
footer .left-half { background: #ffffff url('/public/img/wis-dot-map.jpg') right top no-repeat; float: left; height: 100%; min-height: 475px; width: 50%; }
footer .right-half { background-color: #a2a2a2; float: right; height: 100%; min-height: 475px; width: 50%; }

@media only screen and (max-width: 1400px) {
	#quote { background: url('/public/img/hth-gondalas.jpg') -1600px top no-repeat;
}